@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;700;900&display=swap');

$Dark-green: #043e3e;
$Back-green: #02383ab6;
$Orange: #e2d7a6;
$loader:#afa472;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


#block {
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: 99;
  background-color: $loader;

  #loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.7em;
    margin-left: -0.7em;
    width: 7.4em;
    height: 7.4em;
    z-index: 100;
    background-color: $loader;
  }

  #hill {
    position: absolute;
    width: 8.1em;
    height: 8.1em;
    top: 2.7em;
    left: 2.7em;
    background-color: transparent;
    border-left: .25em solid whitesmoke;
    transform: rotate(45deg);
  }

  #hill:after {
    content: '';
    position: absolute;
    width: 9.1em;
    height: 9.1em;
    left: 0;
    background-color: $loader;
  }

  #box {
    position: absolute;
    left: 0;
    bottom: -.1em;
    width: 2em;
    height: 2em;
    background-color: transparent;
    border: .25em solid whitesmoke;
    border-radius: 15%;
    transform: translate(0, -1em) rotate(-45deg);
    animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
  }

  @keyframes push {
    0% {
      transform: translate(0, -1em) rotate(-45deg);
    }

    5% {
      transform: translate(0, -1em) rotate(-50deg);
    }

    20% {
      transform: translate(1em, -2em) rotate(47deg);
    }

    25% {
      transform: translate(1em, -2em) rotate(45deg);
    }

    30% {
      transform: translate(1em, -2em) rotate(40deg);
    }

    45% {
      transform: translate(2em, -3em) rotate(137deg);
    }

    50% {
      transform: translate(2em, -3em) rotate(135deg);
    }

    55% {
      transform: translate(2em, -3em) rotate(130deg);
    }

    70% {
      transform: translate(3em, -4em) rotate(217deg);
    }

    75% {
      transform: translate(3em, -4em) rotate(220deg);
    }

    100% {
      transform: translate(0, -1em) rotate(-225deg);
    }
  }
}


//defaults
body {
  width: 100vw;
  background-color: #fffff0;
  display: block;
  overflow-x: hidden;
  font-family: 'Jost', sans-serif;
}

.sectext {
  z-index: 1;
  font-size: 3em;
  font-weight: 400;
  background-color: $Dark-green;
  padding-right: 20px;
  padding-left: 20px;
  font-family: 'Jost', sans-serif;
  color: ivory;
  opacity: 0.5;
}

.sectext::first-letter {
  font-size: 3.5rem;
}

.container {
  position: relative;

}

.bg {
  z-index: -1;
  opacity: 0.2;
  color: $Dark-green;
  position: absolute;

  font-family: 'Jost', sans-serif;
  font-size: 15rem;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

//Section1
.section1 {
  height: 100vh;
  width: 100vw;
  position: relative;

  .scroll {

    position: absolute;
    left: 90.3%;
    bottom: 5vh;

    svg {
      height: 25vh;
      width: auto;
    }
  }
}

.mainimg {
  height: 100vh;
  width: 20%;
  opacity: 1;
  position: absolute;
  z-index: -1;
  top: 0%;
  left: 70%;
  object-fit: cover;
  object-position: bottom;
}

.sec1text {
  font-family: 'Jost', sans-serif;
  font-size: 6em;
  font-weight: 400;
  opacity: 1;
  z-index: 1;
  color: $Dark-green;
  line-height: 60px;
  text-align: right;
  position: absolute;
  top: 10%;
  right: 32%;

  .srname {
    font-size: 2.6rem;
    text-align: right;
    line-height: 70px;
  }

  .discripton {
    font-size: 1.2rem;
    font-weight: 300;
    display: block;
    line-height: 1;
  }
}

.dis {
  position: absolute;
  left: 1%;
  bottom: 1%;
  display: flex;
  flex-direction: column;

  a {
    width: 3vw;
    align-self: flex-start;
  }

  svg {
    height: 48px;
    width: 48px;
    margin-bottom: 2vh;
  }
}

.contact {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 15em;
  opacity: 0;
  color: $Dark-green;
  position: absolute;
  transform: translateX(-100px);
  left: -90px;
  bottom: 15vh;
}

.draw_text {
  position: absolute;
  bottom: 10vh;
  left: 40vw;

  svg {
    width: 60vw;
    height: auto;
  }
}



//Section2
.section2 {
  .bg {
    left: 50%;
    top: 40%;
  }

  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  transform: scale(1, 1);

  // .Click {
  //   font-family: Jost;
  //   top: 50%;
  //   left: 20%;
  //   color: #FFFFFF;
  //   span{
  //     color: #043e3e;
  //   }
  // }
  // .Ellipse{
  //   position: absolute;
  //   bottom: 10%;
  //   left: 80%;
  //   height: 10vh;
  //   width: 10vh;
  // }
}

.laptop {
  position: relative;
  left: -10%;
  background-image: url("/img/Qarothome.jpg");
  background-position: -8vw 30%;
  width: 70%;
  height: 88%;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 5%;
}

.iphone {
  background-image: url("/img/qarotmobile.jpg");
  margin-right: 8%;
  background-size: cover;
  max-width: 280px;
  max-height: 560px;
  width: 20%;
  height: auto;
  background-repeat: no-repeat;
  background-position: 0 60%;
  border-radius: 11%;
}

.sec2text {
  position: absolute;
  bottom: 40%;
  left: 50%;
}


.ouro {
  position: relative;
  display: inline-block;
  height: 46px;
  width: 46px;
  margin: 1em;
  border-radius: 50%;
  background: none repeat scroll 0 0 #02383aa4;
  overflow: hidden;
  transform: scale(var(--ggs, 2.8));
  cursor: pointer;
}

.ouro:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  display: block;
  height: 28px;
  width: 28px;
  background: none repeat scroll 0 0 #fffff0;
  border-radius: 50%;
}

.ouro>span {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.left {
  left: 0
}

.right {
  left: 50%
}

.anim {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 999px;
  background: none repeat scroll 0 0 $Dark-green;
  opacity: 0.6;
  -webkit-animation: ui-spinner-rotate-left 3s 5;
  animation: ui-spinner-rotate-left 3s 5;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}

.left .anim {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.right .anim {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  left: -100%;
  -webkit-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
}

/* v2 */
.ouro2 .anim {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.ouro2 .right .anim {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}


/* round variation */
.round .ouro:after {
  display: none
}


@keyframes ui-spinner-rotate-right {
  0% {
    transform: rotate(0deg)
  }

  25% {
    transform: rotate(180deg)
  }

  50% {
    transform: rotate(180deg)
  }

  75% {
    transform: rotate(360deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@keyframes ui-spinner-rotate-left {
  0% {
    transform: rotate(0deg)
  }

  25% {
    transform: rotate(0deg)
  }

  50% {
    transform: rotate(180deg)
  }

  75% {
    transform: rotate(180deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

@-webkit-keyframes ui-spinner-rotate-right {
  0% {
    -webkit-transform: rotate(0deg)
  }

  25% {
    -webkit-transform: rotate(180deg)
  }

  50% {
    -webkit-transform: rotate(180deg)
  }

  75% {
    -webkit-transform: rotate(360deg)
  }

  100% {
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes ui-spinner-rotate-left {
  0% {
    -webkit-transform: rotate(0deg)
  }

  25% {
    -webkit-transform: rotate(0deg)
  }

  50% {
    -webkit-transform: rotate(180deg)
  }

  75% {
    -webkit-transform: rotate(180deg)
  }

  100% {
    -webkit-transform: rotate(360deg)
  }
}


//Section3

.section3 {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;

  .sec3img1 {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
      0 2px 2px rgba(0, 0, 0, 0.11),
      0 4px 4px rgba(0, 0, 0, 0.11),
      0 6px 8px rgba(0, 0, 0, 0.11),
      0 8px 16px rgba(0, 0, 0, 0.11);
    background-position-x: 0px;
    background-image: url("/img/1.jpg");
    overflow: hidden;
    height: 60vh;
    width: 40vh;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .sec3img2 {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),
      0 2px 2px rgba(0, 0, 0, 0.20),
      0 4px 4px rgba(0, 0, 0, 0.15),
      0 8px 8px rgba(0, 0, 0, 0.10),
      0 20px 30px -15px rgba(87, 87, 80, 0.5),
      0 40px 40px -20px rgba(88, 87, 82, 0.4);
    background-position-x: 0px;
    background-image: url("/img/1c.jpg");
    overflow: hidden;
    height: 60vh;
    width: 40vh;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-size: cover;
    align-self: flex-end;
  }

  .sec3next {
    height: 18vh;
    width: 18vh;
    cursor: pointer;
    transition: 0.1s transform;
  }

  .sec3next:hover {
    transform: scale(1.1, 1.1);
  }

  .sec3next:active {
    transform: scale(0.8, 0.8);
  }

  .bg {
    left: 55%;
    top: 5%;
  }
}

.sec3img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 100%;
  width: 73vw;
  margin-left: 6vw;

}

.fleximgsec3 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  width: 50%;

  img {
    align-self: flex-end;
    height: 55vh;
    width: auto;
  }

  p {
    align-self: flex-start;
    width: 110%;
    background-color: #e2d7a6;
    font-family: 'Jost', sans-serif;
    font-size: 1.2em;
    padding: 5%;
    margin: 5%;
  }
}

.sec3img img:last-child {
  align-self: center;

}

.sec3text {
  position: absolute;
  left: 25%;
  top: 50%;
}



//Section4
.section4 {
  margin-top: 10%;
  position: relative;
  height: 100vh;
  width: 100vw;
  margin-bottom: 10%;

  .arrow {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 17vw;
  }

  .bg {
    right: 5%;
    z-index: 1;
  }

  .sec4text {
    position: absolute;
    left: 43%;
    opacity: 0.4;
    top: 50%;
    z-index: 3;
  }
}

.bgquild {
  height: 70vh;
  width: auto;
  margin-left: 30%;
  margin-top: 15%;
}

.sec4img {
  position: absolute;
  z-index: 1;
  height: 75vh;
  width: auto;
  top: 10%;
  left: 0%;
  margin-left: 8%;
}

//section5
.section5 {
  position: relative;

  .grid-container {
    height: 130vh;
    display: grid;
    margin-left: 20%;
    padding-bottom: 10%;
    width: 60vw;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1.1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.7%;
    grid-template-areas:
      "one two three"
      "Four Five six"
      "seven Eight Nine ";


  }

  .one {
    grid-area: one;
    background-position-x: 30%;
    background-image: url("/img/one.jpg");
  }

  .two {
    grid-area: two;
    background-image: url("/img/two.jpg");
  }

  .three {
    grid-area: three;
    background-image: url("/img/three.jpg");
  }

  .Four {
    grid-area: Four;
    background-image: url("/img/four.jpg");
    background-position-y: 20%;
  }

  .Five {
    grid-area: Five;
    background-image: url("/img/five.jpg");
    background-position-x: 40%;
    background-position-y: 20%;
  }

  .six {
    grid-area: six;
    background-image: url("/img/six.jpg");
  }

  .seven {
    grid-area: seven;
    background-image: url("/img/seven.jpg");
  }

  .Eight {
    grid-area: Eight;
    background-image: url("/img/eight.jpg");
  }

  .Nine {
    grid-area: Nine;
    background-image: url("/img/nine.jpg");
  }

  .grid-container {
    div {
      background-color: #48c0b215;
      background-blend-mode: color-dodge;
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: 0%;
    }
  }

  .sec5text {
    position: absolute;
    left: 8%;
    opacity: 0.4;
    top: 45%;
    z-index: 6;
  }

  .bg {
    right: 5%;
  }

}



footer {
  height: 80px;
  width: 100vw;
  padding: 10px;
  background-color: $Dark-green;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  opacity: 0.8;

  h3 {
    color: white;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    font-size: 1.3em;
    padding-top: 8px;
    font-weight: 400;
  }
}



/* Tablets (portrait) ----------- */
@media (max-width : 1300px) {
  .rahul {
    font-size: 3.5rem;
  }

  .sec4text {
    top: 30%;
  }

  .section1 .scroll {
    svg {
      height: 18vh;
      width: auto;
    }
  }


  .section4 {
    margin-bottom: 0%;
  }

  .section5 {
    .grid-container {
      height: 110vh;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(9, 30vh);
      grid-template-areas:
        "one two"
        "three Four"
        "Five six"
        "seven Eight"
        "nine ";

      .one {
        grid-area: one;
      }

      .two {
        grid-area: two;
      }

      .three {
        grid-area: three;
      }

      .Four {
        grid-area: Four;
      }

      .Five {
        grid-area: Five;
      }

      .six {
        grid-area: six;
      }

      .seven {
        grid-area: seven;
      }

      .Eight {
        grid-area: Eight;
      }

      .Nine {
        grid-area: nine;
      }
    }
  }

  /* Styles */

  .sec3img {
    width: 80vw;
    margin-left: 6vw;
    height: 76vh;

    .sec3img1,
    .sec3img2 {
      height: 46vw;
      width: 32vw;

    }
  }

  .sec4img {
    width: 70vw;
    height: auto;
  }

  .bgquild {
    width: 66vw;
    height: auto;
  }

  .section3 {
    .sec3next {
      height: 15vw;
      width: 15vw;
      margin: 4vw;

    }

  }




  .sec4img {
    margin: 0;
  }

  .sec2text {
    bottom: 60%;
    left: 50%;
  }

  .laptop {
    width: 80%;
    height: auto;
    background-position: -9.5vw 70%;
  }

  .iphone {
    align-self: flex-end;
    width: 16%;
    height: auto;
  }


}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 770px) {

  .section2 {
    margin: 0;
    flex-direction: column;
    justify-content: center;

  }

  .iphone {
    width: 18%;
    height: auto;
  }

  .section5 {
    .grid-container {
      height: 300vh;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(9, 30vh);
      grid-template-areas:
        "one "
        "two"
        "three"
        "Four"
        "Five"
        "six"
        "seven"
        "Eight"
        "nine ";
    }

    .one {
      grid-area: one;
    }

    .two {
      grid-area: two;
    }

    .three {
      grid-area: three;
    }

    .Four {
      grid-area: Four;
    }

    .Five {
      grid-area: Five;
    }

    .six {
      grid-area: six;
    }

    .seven {
      grid-area: seven;
    }

    .Eight {
      grid-area: Eight;
    }

    .Nine {
      grid-area: nine;
    }
  }

  .sec3img {
    height: 75%;
  }

  .contact {
    display: none;
  }

  .sec4text,
  .sec3text,
  .sec2text {
    left: 0px;
  }

  .section3 {
    height: 60vh;
  }


  /* Styles */
  .sectext,
  .sec1text {
    font-size: 1.2em;
  }

  .bg {
    font-size: 4.0rem;
  }

  .sectext::first-letter {
    font-size: 1.7rem;
  }

  .fleximgsec3 {
    p {
      font-size: 0.8rem;
      width: 60vw;
    }
  }

  footer {
    h3 {
      padding-top: 2px;
    }
  }
}


@media only screen and (max-width : 470px) {

  /* Styles */
  .sec1text .discripton {
    font-size: 0.9rem;
  }

  .sec1text .srname {
    font-size: 1.5rem;
  }

  .rahul {
    font-size: 2.3rem;
  }

  .sec1text {
    line-height: 1px;
  }

  .section2,
  .section3,
  .section4 {
    height: 50vh;
  }

  .section1 .scroll svg {
    height: 12vh;
    width: auto;
  }
}

::-webkit-scrollbar {
  display: none;
}